<div class="header-bar">
    <a *ngIf="true" [@rollInOnEnter] class="logo" href="#">
        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="35.000000pt" height="33.000000pt"
            viewBox="0 0 35.000000 33.000000" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,33.000000) scale(0.100000,-0.100000)" fill="#FFFFFF" stroke="none">
                <path d=
                    "M130 277 c-33 -16 -48 -60 -30 -82 8 -10 37 -27 66 -40 60 -27 72 -41 51 -62 -22 -22 -68 -19 -88 6 -21 26 -39 27 -39 3 0 -28 33 -53 77 -59 49 -6 93 25 93 66 0 34 -23 56 -75 74 -45 16 -66 40 -48 58 17 17 65 14 78 -5 7 -9 19 -16 28 -16 14 0 15 4 6 24 -19 42 -73 56 -119 33z" />
            </g>
        </svg>
    </a>

    <svg *ngIf="true" [@fadeInUpOnEnter] class="title" height="40" width="420" xmlns="http://www.w3.org/2000/svg">
        <text x="5" y="30" fill="none" stroke="white" font-size="35">Student Project Database</text>
    </svg>

    <ul *ngIf="true" [@fadeInRightOnEnter] ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
            <a ngbNavLink class="nav-link" href="#">Home</a>
        </li>
        <li ngbNavItem>
            <a ngbNavLink class="nav-link" href="#">All Projects</a>
        </li>
        <li *ngIf="!isLogged" ngbNavItem>
            <a ngbNavLink class="nav-link" href="#">Login</a>
        </li>
        <li *ngIf="!isLogged" ngbNavItem>
            <a ngbNavLink class="nav-link" href="#">Register</a>
        </li>
        <li *ngIf="isLogged" ngbNavItem>
            <a class="nav-link" href="#">Logout</a>
        </li>
        <li ngbNavItem>
            <a ngbNavLink class="nav-link" href="#">About</a>
        </li>
    </ul>
</div>