.nav-tabs {
    background-color: #0262C2;
    border: 0;
    position: absolute;
    right: 5px;
}

.nav-link {
    color: #FFFFFF;
    border-radius: var(--bs-nav-tabs-border-radius);
    margin-right: 10px;
}

.header-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    border: none;
    background-color: #0262C2;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-link.active {
    background-color: #FFFFFF;
    color: #0262C2;
}

a.title-link {
    display: flex;
}

a.logo {
    background-color: #0262C2;
    position: absolute;
    left: 5px;
}

.logout:hover {
    cursor: pointer;
}