.all-projects {
    background-color: #DEE5ED;
    display: flex;
    margin-top: 7vh;
    height: 81vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #4F4F4F;
}