<div class="home">
    <div class="logo-wrapper">
        <img *ngIf="true" [@fadeInLeftOnEnter] class="logo-image" src="../../../assets/logo-no-background.svg" alt="logo image">
    </div>

    <aside>
        <div class="slogans">
            <div>
                <ngx-typed-writer [strings]="['Showcase your project.']" [startDelay]="1000" [showCursor]="false"
                    [loop]="false" [typeSpeed]="60">
                </ngx-typed-writer>
            </div>

            <div>
                <ngx-typed-writer [strings]="['Share and explore ideas.']" [startDelay]="2500" [showCursor]="false"
                    [loop]="false" [typeSpeed]="60">
                </ngx-typed-writer>
            </div>

            <div>
                <ngx-typed-writer *ngIf="showLastSlogan" [strings]="['Send and receive valuable feedback.']"
                    [showCursor]="true" [loop]="false" [typeSpeed]="60">
                </ngx-typed-writer>
            </div>
        </div>


        <div class="join-wrapper">
            <ng-container *ngIf="showJoinButton">          
            <a *ngIf="!isLogged" [@flipInXOnEnter] routerLink="/register" class="btn btn-primary btn-lg active join" role="button" aria-pressed="true">Join now!</a>
            <a *ngIf="isLogged" [@flipInXOnEnter] routerLink="/projects" class="btn btn-primary btn-lg active join" role="button" aria-pressed="true">Explore!</a>
            </ng-container>
        </div>

    </aside>
</div>