.home {
    background-color: #DEE5ED;
    display: flex;
    margin-top: 7vh;
    height: 81vh;
}

.logo-wrapper {
    width: fit-content;
    display: inline-block;
    flex: 1 1 50%;
    margin-top: 20px;
}

.logo-wrapper img {
    width: 1000px;
    height: 700px;
    min-width: 400px;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 50%;
}

.slogans {
    display: flex;
    flex-direction: column;
    color: #0262C2;
    font-size: 30px;
    margin-left: 200px;
    position: relative;
    flex: 1 1 50%;
    justify-content: flex-end;
    padding-bottom: 50px;
}

.join-wrapper {
    flex: 1 1 50%;
}

.join {
    font-size: 30px;
    margin-left: 350px;
    margin-top: 35px;
    border-color: #0262C2;
    background-color: #0262C2;
}

.join:hover {
    background-color: #DEE5ED;
    color: #0262C2;
}