div.content {
    background-color: #DEE5ED;
}

.not-found {
    background-color: #DEE5ED;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
    height: calc(100vh - 165px);
    color: #797a7c;
    font-family: sans-serif;
}

div.code p {
    margin-top: 45px;
}

.code {
    font-size: 250px;
    height: 350px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 20px;
}

.source {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    width: 600px;
}

p {
    margin: 0px;
}