<div class="content">
    <div *ngIf="true" [@zoomInDownOnEnter] class="not-found">
        <div class="code">
            <p>404</p>
        </div>
        <div class="quote">
            <p>"There is nothing to be found in a beehive that is not submerged in a bee.</p>
            <p>And yet you can search a bee forever with cyclotron and fluoroscope,</p>
            <p>and you will never find the hive.”</p>
        </div>
        <div class="source">
            <p>Out of Control: The New Biology of Machines, Social Systems and the Economic World</p>
            <p>By Kevin Kelly</p>
        </div>
    </div>
</div>