.login {
    background-color: #DEE5ED;
    display: flex;
    margin-top: 7vh;
    height: 81vh;
    flex-direction: column;
    align-items: center;
    color: #4F4F4F;
}

.login-form {
    border: #4F4F4F solid 1px;
    padding: 1.5%;
    border-radius: 7%;
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-option {
    margin-top: 1%;
}

.btn {
    margin-top: 8%;
}

.login-btn {
    border-color: #0262C2;
    background-color: #0262C2;
}

.login-btn:not(:disabled):hover {
    background-color: #DEE5ED;
    color: #0262C2;
}

button:disabled {
    cursor: not-allowed;
    pointer-events: unset;
}

h3 {
    padding-bottom: 3%;
}

.error {
    font-size: small;
    color: red;
}

p {
    margin: 0;
}